.pagination-box {
  text-align: center;
}

.pagination {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  border-radius: 0;
}

.pagination li a.page-link,
.pagination li:first-child a.page-link,
.pagination li:last-child a.page-link {
  border: none;
  height: 45px;
  width: 45px;
  line-height: 35px;
  border-radius: 50%;
  background-color: transparent;
  color: $color-primary;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: 1;
  margin: 0 8px 0 0;
  transition: all 0.4s ease 0s;
}

.pagination li a.page-link:before,
.pagination li:first-child a.page-link:before,
.pagination li:last-child a.page-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid $color-primary;
  border-radius: 50%;
  opacity: 0;
  transform: scaleY(0);
  transition: all 0.3s ease 0s;
}

.pagination li a.page-link:hover:before,
.pagination li.active a.page-link:before {
  transform: scaleY(1);
  opacity: 1;
}

.pagination li:last-child a.page-link {
  margin-right: 0;
}

.pagination li.active a.page-link,
.pagination li a.page-link:hover,
.pagination li.active a.page-link:hover {
  background-color: transparent;
  color: $color-primary;
  border: none;
}
@media only screen and (max-width: 480px) {
  .pagination {
    display: block;
  }
  .pagination li {
    display: inline-block;
    margin-bottom: 20px;
  }
}
