.allcategory__list {
  padding-bottom: 2rem;
  margin: 0;
  font-size: $default-font-size;
  line-height: 1.8rem;
  column-count: 6;
  column-gap: 2rem;
  border-bottom: 1px solid $color-grey-light-3;
  li {
    padding: 0;
    margin: 0 0 5px 0;
    a {
      color: $color-tertiary-light;
      text-decoration: none;
      &:hover {
        color: $color-secondary-dark;
      }
    }
  }
}
