.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    //for button only
    border: none;
    cursor: pointer;
  }
  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 2rem rgba($color-black, 0.2);
  }
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  &--white {
    color: $color-grey-dark;
    background: $color-white;
    &::after {
      background-color: $color-white;
    }
  }
  &--green {
    color: $color-white;
    background: $color-primary;
    &::after {
      background-color: $color-primary;
    }
  }
  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $color-primary;
    display: inline-block;
    font-size: $default-font-size;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;
  }
  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-primary, 0.15);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-primary, 0.15);
    transform: translateY(0);
  }
}
.btn-orange {
  &:link,
  &:visited {
    color: $color-secondary-dark !important;
    border-bottom: 1px solid $color-secondary-dark !important;
    display: inline-block;
    font-size: $default-font-size;
    text-decoration: none;
    padding: 3px;
    transition: all 0.2s;
    cursor: pointer;
  }
  &:hover {
    background-color: $color-secondary-dark;
    color: $color-white !important;
    box-shadow: 0 1rem 2rem rgba($color-secondary-dark, 0.15);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-secondary-dark, 0.15);
    transform: translateY(0);
  }
}
