.section-auth {
  padding: 3rem 0 12rem;
  background: $color-grey-light-1;
  .auth-controller {
    width: 900px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: $color-white;
    box-shadow: 0px 1rem 1.5rem 0.17px rgba(0, 0, 0, 0.09);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    #signup {
      padding: 2rem;
    }
    #login {
      padding: 2rem;
      display: flex;
      .signin-image {
        margin-left: 110px;
        margin-right: 20px;
        margin-top: 10px;
        width: 50%;
        overflow: hidden;
        figure {
          margin: 0;
          margin-bottom: 50px;
          text-align: center;
        }
      }
      .signin-form {
        width: 50%;
        overflow: hidden;
      }
    }
  }
}
