.section__steps {
  padding: 3rem 0;
}
.section__allcategory {
  padding: 3rem 0;
}
.section-categories {
  padding: 2rem 0;
  .tab-checkbox-container {
    display: table;
    width: 100%;
    padding: 1rem 0;
    .input-group {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .tab-radio-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    span {
      display: inline-block;
      flex: 0.5;
      margin-top: -3px;
    }
    .form__radio-group {
      display: inline-block;
      flex: 1;
      .form__radio-label {
        font-size: 1.4rem;
        cursor: pointer;
        position: relative;
        padding-left: 2.5rem;
        font-weight: normal;

        .form__radio-button {
          height: 2rem;
          width: 2rem;
          border: 5px solid #55c57a;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          left: 0;
          top: 5px;
        }
      }
    }
  }
  .buyer-list {
    .buyer-item {
      padding: 1.5rem 2rem;
      &:not(:last-child) {
        border-bottom: 1px solid #222;
        margin-bottom: 1rem;
      }
    }
  }
}
.section-checkbox__container {
  margin-bottom: 2rem;
}

.nav-tabs {
  border-bottom: 1px solid $color-primary;
  a {
    font-weight: 500;
  }
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border: 1px solid $color-primary;
  background: $color-primary;
  color: $color-white;
}
.section-related-products {
  padding: 3rem 0;
  background-color: $color-grey-light-1;
}
.section-promo-sub {
  padding: 10rem 0;
  .card-promo {
    height: 100%;
  }
  .card-promo__side {
    position: relative;
    height: 100%;
  }
}
